.interface-message {
  width: 100%;
  color: #d0d4ce;
  font-family: "FiraCode Nerd Font", monospace;
  padding-bottom: 0.15rem;
}
.sys-command {
  font-family: "FiraCode Nerd Font", monospace;
  text-decoration: underline;
  color: #b4cfba;
}
