.word-art-container {
  .word-art {
    font-size: 0.7rem;
    display: inline-block;
    text-align: left;
    color: #95bb9d;
    font-family: "FiraCode Nerd Font", monospace;
    whitespace: pre-wrap;
  }
}
