.word-art-container {
  .word-art {
    overflow: hidden;
    font-size: 0.7rem;
    display: inline-block;
    text-align: left;
    color: #95bb9d;
    font-family: "FiraCode Nerd Font", monospace;
    whitespace: pre-wrap;
    animation: reveal 3s steps(45, jump-both);
    margin: 0 auto;
  }
}
@keyframes reveal {
  0% {
    width: 0;
  }
  100% {
    width: 55%;
  }
}
